In [1]:
import os
import pandas as pd
import numpy as np
import re
import gender_guesser.detector as gender
# from gender_detector import GenderDetector

path = os.path.abspath(os.path.dirname(os.getcwd())) + '\\data'

info_article = pd.read_csv(path+'\\info\\info_article_o.csv')
info_issue = pd.read_csv(path+'\\info\\info_issue_o.csv')

In [2]:
# part 1.1: pages (articles)

info_article['page_start'] = info_article['page_start'].apply(lambda x:str(x).lstrip('S'))
info_article['page_end'] = info_article['page_end'].apply(lambda x:str(x).lstrip('S'))
info_issue['page_start'] = info_issue['page_start'].apply(lambda x:str(x).lstrip('S'))
info_issue['page_start'] = info_issue['page_start'].apply(lambda x:str(x).lstrip('S'))

for i_article in range(info_article.shape[0]):
    
    page_start = info_article.iloc[i_article]['page_start']
    page_end = info_article.iloc[i_article]['page_end']
    
    if(page_start == page_end):
        info_article.loc[i_article, 'page_number'] = str(1)
    else:
        info_article.loc[i_article, 'page_number'] = str(int(page_end) - int(page_start) +1)

In [3]:
# info_article.columns.values
# 'number_volume', 'number_issue', 'number_article', 'type_1',
# 'type_2', 'page_start', 'page_end', 'date_receive', 'date_accept',
# 'date_online', 'keyword', 'name_book', 'author_number',
# 'author_info', 'views', 'Crossref', 'Web_of_Science',
# 'page_number'

info_article = info_article[['number_volume', 'number_issue', 'number_article', 
                             'type_1', 'type_2', 'name_book', 'keyword',
                             'author_number', 'author_info',
                             'page_start', 'page_end', 'page_number',
                             'date_receive', 'date_accept','date_online',
                              'views', 'Crossref', 'Web_of_Science']]

info_issue.to_csv(path+'\\info\\info_issue_o_1.csv',index=False,sep=',')
info_article.to_csv(path+'\\info\\info_article_o_1.csv',index=False,sep=',')
info_article.head()

,number_volume,number_issue,number_article,type_1,type_2,name_book,keyword,author_number,author_info,page_start,page_end,page_number,date_receive,date_accept,date_online,views,Crossref,Web_of_Science
0,1,1,1,introduction,Introduction,Introduction,[],1,"[('Thomas P. Boje', ' Department of Sociology,...",1,7,7,NaN,NaN,21 Oct 2013,26,1,0
1,1,1,2,Article,Original Articles,National models for making and legitimating el...,"['business elites', 'corporate governance', 'l...",2,"[('Michel Bauer', ' Observatoire des Dirigeant...",9,31,23,NaN,NaN,21 Oct 2013,78,14,0
2,1,1,3,Article,Original Articles,"Models of the family, women’s role and social ...","['social policy', 'family', 'women’s roles', '...",1,"[('Catherine Hakim', ' London School of Econom...",33,58,26,NaN,NaN,21 Oct 2013,441,15,0
3,1,1,4,Article,Original Articles,The European Union and equal opportunities pol...,"['gender', 'equal opportunities', 'European Un...",1,"[('Sylvia Walby', ' University of Leeds', 'htt...",59,80,22,NaN,NaN,21 Oct 2013,142,13,0
4,1,1,5,Article,Original Articles,Private and public transfers between generatio...,"['generations', 'family', 'social policy', 'ag...",1,"[('Martin Kohli', ' Free University of Berlin'...",81,104,24,NaN,NaN,21 Oct 2013,371,194,0

In [11]:
# part 1.2: pages(issues)

info_article = pd.read_csv(path+'\\info\\info_article_o_1.csv')
info_issue = pd.read_csv(path+'\\info\\info_issue_o_1.csv')

# print(info_article)
# info_issue

for i_article in range(info_article.shape[0]):

number_volume  number_issue
1              1                                                  19335981105117
               2                                           133139169197241269289
               3                                              319353391419457497
2              1                                                      1529516591
               2                                                 113139167195217
                                                     ...
22             4                                              411433456480503525
               5                                              529555581610636659
23             1               1233476068829511112214115317218419921522824626...
               2                                              193195232255285308
               S1              1233476068829511112214115317218419921522824626...
Name: page_start, Length: 104, dtype: object

In [ ]:
def missing_int_page(value):
    try:
        value = int(value)
    except:
        # print(value)
        value = 0
    
    return value

info_article['page_start'] = info_article['page_start'].apply(missing_int_page)
info_article['page_end'] = info_article['page_end'].apply(missing_int_page)

# number of pages, articles
info_article['page_number'] = info_article['page_end'] - info_article['page_start']

In [42]:
# info_article.tail()
info_article.iloc[383]

number_volume              14
number_issue                2
number_article              1
type               correction
page_start                  0
page_end                  nan
date_receive              NaN
date_accept               NaN
date_online       11 Sep 2012
keyword                    []
name_book         Corrigendum
author_number               0
author_info                []
views                     257
Crossref                    0
Web_of_Science              0
Name: 383, dtype: object

In [87]:
# number
info_issue.groupby("year")['number_issue'].count()

year
1999    3
2000    4
2001    4
2002    4
2003    4
2004    4
2005    4
2006    4
2007    5
2008    5
2009    5
2010    5
2011    5
2012    5
2013    5
2014    5
2015    5
2016    5
2017    5
2018    5
2019    5
2020    5
2021    2
Name: number_issue, dtype: int64

In [65]:
# part 2: special issue

def identify_special_issue(value):
    try:
        value = np.isnan(value)
    except:
        value = False
        
    return 1 - value
# identify_special_issue(info_issue.iloc[0,5])

info_issue['special_issue'] = info_issue['theme'].apply(lambda x: identify_special_issue(x))

info_issue.to_csv(path+'\\info\\info_issue_o_1.csv',index=False,sep=',')

info_issue.iloc[93:97] # example

,number_volume,number_issue,year,page_start,page_end,theme,special_issue
93,21,3,2019,327,443,NaN,0
94,21,4,2019,445,626,The Far Right as Social Movement,1
95,21,5,2019,629,801,Crises and Solidarities in Europe,1
96,22,1,2020,1,156,NaN,0

In [72]:
# process - type
info_article['type'] = info_article['type'].apply(lambda x:str(x).lower())


info_article['name_book'] = info_article['name_book'].apply(lambda x:str(x).lower())
info_article['name_book'] = info_article['name_book'].apply(lambda x:str(x).replace('<br/>',''))
info_article['name_book'] = info_article['name_book'].apply(lambda x:str(x).replace('<i>',''))
info_article['name_book'] = info_article['name_book'].apply(lambda x:str(x).replace('</i>',''))
info_article['name_book'] = info_article['name_book'].apply(lambda x:str(x).lstrip())

info_article['type_help'] = info_article['name_book'].apply(lambda x:' '.join(x.split(' ')[:2]))
re.match("article review","article reviews") .group()

In [95]:
# gender
detector_1 = gender.Detector()
detector_2 =

'male'

In [53]:
# my_str="135A"
# my_str.lstrip('S')
# int("")
# np.isnan(np.nan)
# print(np.nan)
int("43")-int("12")

31

False