In [1]:
from selenium import webdriver
import time

import os
import pandas as pd
import numpy as np


import requests
from bs4 import BeautifulSoup #解析函数
import re

In [2]:
path = os.path.abspath(os.path.dirname(os.getcwd())) + '\\data'
url_df = pd.read_csv(path+'\\info\\my_url.csv', header=None)

In [19]:
url_df = url_df.rename(columns={0: 'name',1:'url'})
# url_df

#for i_url in range(0,url_df.shape[0]):
    
#    print(url_df["url"].iloc[i_url])
url_df.head()

   name                        url
0  url1     https://www.lemonde.fr
1  url2  https://www.liberation.fr
2  url3    https://www.lefigaro.fr
3  url4   https://www.latribune.fr
4  url5    https://www.humanite.fr

In [26]:
url_df['url'] = url_df['url'].apply(lambda x: x.rstrip('?').rstrip(' '))
url_df.head()

   name                        url
0  url1     https://www.lemonde.fr
1  url2  https://www.liberation.fr
2  url3    https://www.lefigaro.fr
3  url4   https://www.latribune.fr
4  url5    https://www.humanite.fr

In [31]:
def process_url(i_url):
    
    my_url= url_df["url"].iloc[i_url]
    
    
    driver = webdriver.Chrome()
    driver.get(my_url)
    
    web_content = driver.page_source
    
    # 这里还需要添加代码，目的： 获取网页源码
    
    time.sleep(0.5)
    driver.quit()

In [33]:
for i_url in range(0,url_df.shape[0]):
    
    process_url(i_url)

In [3]:
# example

my_url = "https://www.lemonde.fr/"

response = requests.get(url=my_url)

# print(response)

web_content = response.content

In [4]:
bs_obj=BeautifulSoup(web_content,'lxml')

bs_obj.title.string

'Le Monde.fr - Actualités et Infos en France et dans le monde'

In [5]:
bs_obj = bs_obj.body.main

In [6]:
my_str = bs_obj.find_all(name='h1', attrs={"class":"article__title"})[0].span.string
# my_str.split(' ')
# my_str = ' asdlfjkasdhlkjfh '
# my_str.strip(' ')
# my_str.lstrip(' ')
# my_str.rstrip(' ')
# my_str
# my_str.replace('\xa0', '')

In [14]:
my_list = bs_obj.find_all(name='p', attrs={"class":"article__title"})

In [19]:
info_title = pd.DataFrame(columns=['title_name'])

for i_list in my_list:

    i_list_string= i_list.string
    
    if i_list_string == None:
        continue
    
    info_title_add = pd.DataFrame([[i_list_string]], columns=['title_name'])
    info_title = pd.concat([info_title,info_title_add])
    
    info_title = info_title.reset_index(drop = True)

In [20]:
info_title

                                            title_name
0    Novak Djokovic renverse Stefanos Tsitsipas et ...
1    Le général François Lecointre, chef d’état-maj...
2    Le Brexit et le différend entre le Royaume-Uni...
3    Publicité : CNews et « Valeurs actuelles » dép...
4    « Votre appréciation va m’empêcher d’entrer en...
..                                                 ...
161  « Le Monde », une indépendance éditoriale tota...
162        L’histoire du « Monde » au fil des années
163  La charte d’éthique et de déontologie du group...
164  « Paroles de lecteurs » – Plaidoyer d’un ensei...
165  « Paroles de lecteurs » – Sortons de la dictat...

[166 rows x 1 columns]

In [21]:
info_title.to_csv(path+'\\info\\info_title.csv',index=False,sep=',')