In [66]:
import os
import pandas as pd
import numpy as np

import nltk
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

from collections import defaultdict

import matplotlib.pyplot as plt

path = os.path.abspath(os.path.dirname(os.getcwd())) + '\\data'

In [30]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\savou\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [34]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\savou\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [41]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\savou\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [44]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\savou\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [82]:
info_article = pd.read_csv(path+'\\info\\info_article_o_7_m.csv')
info_issue = pd.read_csv(path+'\\info\\info_issue_o_7.csv')
info_year = pd.read_csv(path+'\\info\\info_year_o_7.csv')

In [105]:
def title_to_word(i_article):
    
    # porter_stemmer = PorterStemmer()
    # porter_stemmer.stem('presumably')
    # nltk.pos_tag(['institution'])
    wordnet_lematizer = WordNetLemmatizer()
    
    text = info_article.iloc[i_article]['name_book']
    
    words = nltk.word_tokenize(text)
    
    words = [wordnet_lematizer.lemmatize(i_word) for i_word in words]
    words = [i_word for i_word in words if i_word not in stopwords.words('english')]
    
    english_punctuations = [',','.',':',';','?','!','(',')','[','’',
                            ']','@','&','#','%','$','{','}','--','-']
    words = [i_word for i_word in words if i_word not in english_punctuations]
    
    return words

In [106]:
for i_article in range(info_article.shape[0]):
    
    info_article.loc[i_article, 'name_book_words'] = str(title_to_word(i_article))

In [107]:
# info_article.columns.values
info_article = info_article[['number_volume', 'number_issue', 'number_article', 
                             'year', 'period', 
                             'type_decide', 'type_1', 'type_2', 
                             'name_book', 'name_book_words', 'name_book_len', 'keyword', 
                             'author_number', 'author_info',
                             'page_start', 'page_end', 'page_quant', 
                             'date_receive', 'date_accept', 'date_online', 
                             'views', 'Crossref', 'Web_of_Science']]

In [109]:
info_article.to_csv(path+'\\info\\info_article_o_8.csv',index=False,sep=',')
info_article.head()

,number_volume,number_issue,number_article,year,period,type_decide,type_1,type_2,name_book,name_book_words,...,author_info,page_start,page_end,page_quant,date_receive,date_accept,date_online,views,Crossref,Web_of_Science
0,1,1,1,1999,1999-1,introduction,introduction,Introduction,introduction,['introduction'],...,"[('Thomas P. Boje', 'male', ""['Sweden']"", ' De...",1,7,7,NaN,NaN,21 Oct 2013,26,1,0
1,1,1,2,1999,1999-1,article,Article,Original Articles,national models for making and legitimating el...,"['national', 'model', 'making', 'legitimating'...",...,"[('Michel Bauer', 'male', ""['France']"", ' Obse...",9,31,23,NaN,NaN,21 Oct 2013,78,14,0
2,1,1,3,1999,1999-1,article,Article,Original Articles,"models of the family, women’s role and social ...","['model', 'family', 'woman', 'role', 'social',...",...,"[('Catherine Hakim', 'female', ""['United Kingd...",33,58,26,NaN,NaN,21 Oct 2013,441,15,0
3,1,1,4,1999,1999-1,article,Article,Original Articles,the european union and equal opportunities pol...,"['european', 'union', 'equal', 'opportunity', ...",...,"[('Sylvia Walby', 'female', ""['United Kingdom'...",59,80,22,NaN,NaN,21 Oct 2013,142,13,0
4,1,1,5,1999,1999-1,article,Article,Original Articles,private and public transfers between generatio...,"['private', 'public', 'transfer', 'generation'...",...,"[('Martin Kohli', 'male', ""['Germany']"", ' Fre...",81,104,24,NaN,NaN,21 Oct 2013,371,194,0

In [79]:
# defaultdict
# from collections import defaultdict

### example 1:

# dict = {}
# dict['age']=10
# dict
# dict['age']
# dict['name']

### example 2:

# dict = defaultdict(int)
# dict[2]='two'
# dict[4]
# dict['my']
# dict['2']

### example 3:

# dict = defaultdict(str)
# dict[3]
# dict[3]='I am'
# dict['3']='You are'
# dict

In [ ]:
def co_occurrence(words, window_size):
    
    word_set = set()
    
    for i_word in words:
        
        word_set.add(words)

['I', 'am', 'not,', 'drunk']